@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Daniel Toguti</h3>
    <h4>Estágio em Desenvolvimento na AEVO</h4>
</div>
<hr />
<h5>Selecione o Método Desejado</h5>
<hr/>


<div>
    <table class="table table-striped" align="center">
        <tr>
            <td><button type="button" class="btn btn-primary" onclick="window.location.href='/home/Autocomplete'">Autocomplete</button></td>
            <td><button type="button" class="btn btn-primary" onclick="window.location.href='/home/Current'">Current</button></td>
            <td><button type="button" class="btn btn-primary" onclick="window.location.href='/home/Forescat'">Forescat</button></td>
        </tr>
    </table>
</div>

